:root {
  --clr-primary-100: hsl(217, 28%, 15%);
  --clr-primary-200: hsl(218, 28%, 13%);
  --clr-primary-300: hsl(216, 53%, 9%);
  --clr-primary-400: hsl(219, 30%, 18%);

  --clr-accent-100: hsl(176, 68%, 64%);
  --clr-accent-200: hsl(198, 60%, 50%);
  --clr-accent-600: hsl(0, 100%, 63%);

  --ff-primary: 'Open Sans', sans-serif;
  --ff-accent: 'Raleway', sans-serif;
}
