// Header Section
header {
  background: url(../images/bg-header-mobile.png) no-repeat top/cover;
}

.hero {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8.5rem 0;

  & > * + * {
    margin-top: 1rem;
  }

  .logo {
    margin-bottom: 1rem;
  }
}

// Main Section

section {
  padding: 3rem 0;
}

.snippets {
  display: flex;
  flex-direction: column;
  text-align: center;

  & > * + * {
    margin-top: 1rem;
  }
}

.features {
  flex-direction: column;
  text-align: center;
  gap: 3rem;

  &-content {
    flex-direction: column;

    > * + * {
      margin-top: 2.5rem;
    }
  }

  &-details > * + * {
    margin-top: 0.75rem;
  }
}

.access-anywhere {
  flex-direction: column;
  text-align: center;

  & > * + * {
    margin-top: 1rem;
  }

  & > img {
    margin-top: 4rem;
  }
}

.workflow {
  flex-direction: column;
  text-align: center;

  & > * + * {
    margin-top: 1rem;
  }

  &-content {
    flex-direction: column;
    gap: 3rem;
    margin-top: 4rem;
  }

  &-details & > * + * {
    margin-top: 0.875rem;
  }
}

.logos {
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.clipboard {
  flex-direction: column;
  align-items: center;
  text-align: center;

  & > * + * {
    margin-top: 1rem;
  }
}

.footer {
  background: #eee;
  padding: 3rem 0 1rem;

  &-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &-logo {
    width: 5rem;
  }

  &-nav {
    flex-flow: column wrap;
    gap: 1rem;
    margin: 2rem 0;

    & > li > a {
      color: var(--clr-neutral-300);
      transition: all ease-out 0.3s;

      &:hover {
        color: var(--clr-primary-100);
      }
    }
  }

  .social-media {
    flex-direction: row;
    gap: 1rem;

    & > li > a {
      color: var(--clr-neutral-300);
      transition: all ease-out 0.3s;

      &:hover {
        color: var(--clr-primary-100);
      }
    }
  }

  .attribution {
    text-align: center;

    & > a {
      color: var(--clr-primary-300);
      transition: all ease-out 0.3s;

      &:hover {
        color: var(--clr-primary-100);
      }
    }
  }
}
