:root {
  // Primary Colors
  --clr-primary-100: hsl(171, 66%, 44%);
  --clr-primary-300: hsl(233, 100%, 69%);

  // Neutral Colors
  --clr-neutral-100: hsl(201, 11%, 66%);
  --clr-neutral-300: hsl(210, 10%, 33%);

  --ff-primary: 'Bai Jamjuree', sans-serif;
}
